<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.edog.mapper.AccountMapper">

    <resultMap id="AccountResultMap" type="com.example.edog.entity.Account">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="vol" property="vol"/>
        <result column="username" property="username"/>
        <result column="wake_word" property="wakeWord"/>
        <result column="voice_id" property="voiceId"/>
        <result column="speed_ratio" property="speedRatio"/>
    </resultMap>

    <select id="selectAll" resultMap="AccountResultMap">
        SELECT * FROM Account
    </select>

    <select id="selectByAccount" parameterType="long" resultMap="AccountResultMap">
        SELECT * FROM Account WHERE account = #{account}
    </select>

    <select id="selectListByAccount" parameterType="long" resultMap="AccountResultMap">
        SELECT * FROM Account WHERE account = #{account}
    </select>

    <insert id="insert" parameterType="com.example.edog.entity.Account" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Account (
            account, password, avatar_url, username, wake_word, vol, voice_id, speed_ratio
        )
        VALUES (
            #{account}, #{password}, #{avatarUrl}, #{username}, #{wakeWord}, #{vol}, #{voiceId}, #{speedRatio}
        )
    </insert>

    <update id="updatePassword" parameterType="com.example.edog.entity.Account">
        UPDATE Account SET password = #{password} WHERE account = #{account}
    </update>

    <delete id="deleteByAccount" parameterType="long">
        DELETE FROM Account WHERE account = #{account}
    </delete>

    <update id="updateVoice" parameterType="com.example.edog.entity.Account">
        UPDATE Account
        SET vol = #{vol},
            voice_id = #{voiceId},
            speed_ratio = #{speedRatio}
        WHERE account = #{account}
    </update>

    <update id="updateAvatar" parameterType="com.example.edog.entity.Account">
        UPDATE Account SET avatar_url = #{avatarUrl} WHERE account = #{account}
    </update>

    <update id="updateUsername" parameterType="com.example.edog.entity.Account">
        UPDATE Account SET username = #{username} WHERE account = #{account}
    </update>

    <update id="updateWakeWord" parameterType="com.example.edog.entity.Account">
        UPDATE Account SET wake_word = #{wakeWord} WHERE account = #{account}
    </update>

</mapper>